{
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "overrides": [
    {
      "files": [],
      "options": {
        "trailingComma": "none",
        "tabWidth": 2,
        "semi": false,
        "singleQuote": true
      }
    }
  ]
}